# Automatically normalize line endings for all text-based files
* text=auto

# This attribute sets a specific line-ending style to be used in the working directory
.*     text eol=lf
*.html text eol=lf
*.md   text eol=lf
*.svg  text eol=lf

# Files and directories with this attribute won't be added to archive files
.gitattributes export-ignore
README.md      export-ignore
